
<div style="background-color: darkgray;display: grid;">
 

    <div *ngFor="let job of jobsList">

        <div style="display:flex;background-color: darkgray;padding:15px;">
        <img src={{job.companyLogo}} style="width:5vw;">
        <div style="display:flex;flex-direction: column;">
        <div>
        <h4 style="color:black;">{{job.title}}</h4>
    </div>
    <div style="display: flex;margin-top:-18px;">
        <p>Company:{{job.companyName}}</p>
        <p>Reference:{{job.reference}}</p>
    </div>
</div>

    </div>

</div> 

</div>
